.footer {
  margin-top: auto;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.mail-action {font-style: italic;}

.mail-action > a:hover {font-style: normal;}
