:host {display: contents;}

.language-toggle {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    background: none;
    border: none;
    cursor: pointer;
}
