.body {
  font-family: var(--font-san-serif);
  color: rgb(var(--text-color));
  background-color: rgb(var(--bg-color));
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1rem;
}
