.nav-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  max-width: 600px;
}

.tag {
  padding: 0 0.5rem;
  padding-bottom: 0.15rem;
  font-style: italic;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid rgb(var(--text-color));
  transition: background-color 0.2s, border-color 0.2s;
  text-wrap: nowrap;
  cursor: pointer;
  user-select: none;
}

.tag:hover {
  background-color: rgba(var(--text-color), 0.75);
  color: rgb(var(--bg-color));
  font-style: normal;
}

.tag.active {
  background-color: rgb(var(--text-color));
  color: rgb(var(--bg-color));
  font-style: normal;
}
