:root {
    --bg-color: 250, 250, 250;
    --text-color: 17, 17, 17;
    --font-san-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

[data-theme="dark"] {
    --bg-color: 17, 17, 17;
    --text-color: 250, 250, 250;
}

* {
  box-sizing: border-box;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  text-align: center;
}

.logo {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.logo svg {
    width: 100%;
    height: 100%;
    min-width: 3rem;
    min-height: 3rem;
}



.icon-vibration:hover {
    transform: scale(1.05);
}

.icon-vibration:active {
    transform: scale(0.95);
}

.icon-vibration {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    width: 3rem;
    height: 3rem;
    padding: 0.75rem;
    min-width: 3rem;
    min-height: 3rem;
    color: inherit;
}

.icon-vibration svg {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    transition: transform 0.3s ease;
}

@media (min-width: 1024px) {
    .logo {
        width: 2.5rem;
        height: 2.5rem;
    }

    .main-nav a {
        font-size: 1rem;
    }

    .main-nav {
        margin-right: 1.5rem;
    }

    .icon-vibration {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem;
        min-width: 2.5rem;
        min-height: 2.5rem;
    }

  .post-main {
    margin-bottom: 4rem;
  }
}
