:host {display: contents;}

.main-header {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 1.5rem .5rem;
    border-bottom: 1px dotted rgb(var(--text-color));
}

.main-nav {
    margin-left: auto;
    margin-right: 1rem;
}

.main-nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.main-nav a:hover {
    text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2.5rem;
  flex: 1 0 auto;
  width: 100%;
}

@media (min-width: 1024px) {
    .main-nav a {
        font-size: 1rem;
    }

    .main-nav {
        margin-right: 1.5rem;
    }
}

.post-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0.25rem;
}

.post {
  display: flex;
  align-items: baseline; /* ← clave: alinea por línea base */
  max-width: 800px;
  justify-content: space-between;
  width: 100%;
  border-top: 1px dotted rgb(var(--text-color));
  padding: 1rem 1.5rem;
  flex-wrap: wrap;
}

.post a {
    color: inherit;
    font-size: 1.25rem;
    display: inline;

    position: relative;

    text-decoration: underline;
    text-decoration-color: rgba(var(--text-color), 0.1);
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
    color: inherit;
}

.post a:hover {
  text-decoration-color: currentColor;
}

.post h2 {
  margin: 0;
}

.post time {
  font-size: 0.85rem;
  color: rgba(var(--text-color), 0.75);
  text-align: right;
  flex: 0 0 auto;
  white-space: nowrap;
  margin-left: auto;
  margin-top: 0.25rem;
}
